/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Fredoka', sans-serif;
    font-family: 'Lato', sans-serif;
    font-family: 'Quicksand', sans-serif;
}

main{
    background-color: black;
    width: 100vw;
    height: 100vh;
}

header{
    display: flex;
    justify-content: flex-end;
    color: white;
    padding-bottom: 2rem;
}

footer{
    width: 100%;
    height: 70px;
    background-color: grey;
    color: white;
}

header h2,
header i{
    background-color: grey;
    border-radius: 5px 5px 5px 5px;
    font-size: 10px;
    margin-left: .35rem;
    margin-top: .35rem;
    margin-right: .45rem;
    line-height: 2;
}

header > i{
    font-size: 15px;
    vertical-align: bottom;
    padding-right: .45rem;
    padding-top: .15rem;
    padding-left: .35rem;
}

header h2{
    padding-right: .25rem;
}

section{
    display: flex;
    justify-content: center;
    overflow: auto;
}

section article{
    margin: .15rem;
    position: relative;
}

article p{
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: rgb( 0, 0, 0, 0.3);
    color: white;
    font-size: 12px;
    padding-bottom: .25rem;
    padding-left: .15rem;
}

section img{
    width: 180px;
}

footer section{
    display: flex;
    justify-content: space-between;
    margin: 0 1rem;
}

section div{
    padding-top: .25rem;
}

div > i{
    margin: .5rem;
}

.icons span{
    margin-right: .5rem;
}

div.center-icons > i{
    padding-left: 2.4rem;
}

div.center-icons span{
    margin: 0 .4rem;
    padding-left: .25rem;
}

div span{
    font-size: 12px;
    margin: 0 .35rem;
}

div.mic-video > span{
    padding-left: .25rem;
}

div.last-icons{
   color: red;
}

div.last-icons > i{
    padding-left: .8rem;
}

.green{
    color: lightgreen;
}